body {
    text-align: center;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    font-size: 1.5em;
}

button {
    margin: 10px;
}

.hidden {
    visibility: hidden;
}